<%- include("partials/header"); -%>

    <h1>Compose</h1>

    <div class="container-fluid">
        <form action="/compose" method="post">

            <div class="form-group">
                <label for="titleTextBox">Title</label>
                <input type="text" id="titleTextBox" class="form-control" name="titleText">
            </div>

            <div class="form-group">
                <label for="postTextBox">Post</label>
                <textarea class="form-control " name="postBody" id="postTextBox" cols="30" rows="10"></textarea>
            </div>

            <button class="btn btn-primary btn-lg" type="submit" name="composeBtn">Publish</button>
        </form>
    </div>

    <%- include("partials/footer"); -%>